= simple_form_for [:admin, @page], :html => { :class => 'page_form well' }, :remote => true do |form|
  - if Rails.env.development?
    .form-errors
      = render 'shared/error_messages', :object => form.object

  .form-inputs
    = form.input :name, :label => Page.human_attribute_name(:name)
    = form.input :url, :label => Page.human_attribute_name(:url)
    = form.input :body, :as => :text, :label => Page.human_attribute_name(:body),
        :input_html => { :class => 'markitup' }         

  .form-actions
    - submit_value = view == 'new' ? t('.create', :default => 'Create') : t('.update', :default => 'Update')
    = form.button :submit, :value => submit_value, :class => 'btn-primary'
    = link_to t('.cancel', :default => 'Cancel'), :back, :class => 'btn'    