.wrapper
  .content
    .post
      %h3= t(:contact_us)
      = simple_form_for @contact_us, url: contact_us_path, html: { class: "form-horizontal" }, defaults: { input_html: { class: "input-xxlarge" } } do |form|
        = form.input :name
        = form.input :email
        = form.input :phone
        = form.input :content, input_html: { rows: 10 }
        .form-actions
          = form.button :submit, t(:send)
