= simple_form_for [:admin, @user], :html => { :class => 'user_form well' } do |form|
  - if Rails.env.development?
    .form-errors
      = render 'shared/error_messages', :object => form.object

  .form-inputs
    = form.input :name, :label => User.human_attribute_name(:name)
    = form.input :email, :label => User.human_attribute_name(:email)

    - unless module_demo? && @user.role?(:admin)
      = form.input :password, :label => User.human_attribute_name(:password)

    - if can? :manage, User
      .roles.control-group.optional
        %label.control-label= User.human_attribute_name(:roles)
        .controls
          = form.collection_check_boxes :roles,
                                        User.collection_of_roles, :first, :last,
                                        { checked: @user.roles, item_wrapper_tag: nil } do |b|
            - b.label(class: 'checkbox inline') { b.check_box + b.text }

  .form-actions
    = form.button :submit, :value => submit_value, :class => 'btn-primary'
    = link_to t('.cancel', :default => 'Cancel'), :back, :class => 'btn'
