= simple_form_for [:admin, @user], :html => { :class => 'user_form well' } do |form|
  - if Rails.env.development?
    .form-errors
      = render 'shared/error_messages', :object => form.object

  .form-inputs
    = form.input :name, :label => User.human_attribute_name(:name)
    = form.input :email, :label => User.human_attribute_name(:email)
    = form.input :password, :label => User.human_attribute_name(:password)

    - if can? :manage, User
      .roles.control-group.optional
        %label.control-label= User.human_attribute_name(:roles)
        .controls
          = form.collection_check_boxes(:roles, User::ROLES.map {|role| [role, User.role_name(role)] }, :first, :last, |
              { |
                :checked => @user.roles, |              
                :item_wrapper_tag => nil |              
              } |
            ) do |b| |
              b.label(:class => 'checkbox inline') { b.check_box + b.text } |        
            end |

  .form-actions    
    = form.button :submit, :value => submit_value, :class => 'btn-primary'
    = link_to t('.cancel', :default => 'Cancel'), :back, :class => 'btn'