%h1= t('.title', :default => 'Sign in')

= simple_form_for @user_session, :url => user_sessions_path, :html => { :class => 'signin_form well' } do |form|

  .form-inputs
    = form.input :name, :label => UserSession.human_attribute_name(:name), :required => false
    = form.input :password, :label => UserSession.human_attribute_name(:password), :required => false
    = form.input :remember_me, :as => :boolean, :label => false,
        :inline_label => UserSession.human_attribute_name(:remember_me),
        :input_html => { :value => 1 }

  .form-actions
    = form.button :submit, :value => t('.signin', :default => 'Sign in'), :id => 'user_session_submit'